{% extends 'student/base.html' %}
{% load static %}
{% block content %}
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
        <tr class="row">
            <th class="col-sm-2 col-md-2 col-lg-2">Name</th>
            <th class="col-sm-2 col-md-2 col-lg-2">Birthday</th>
            <th class="col-sm-1 col-md-1 col-lg-1">Gender</th>
            <th class="col-sm-2 col-md-2 col-lg-2">Email</th>
            <th class="col-sm-1 col-md-1 col-lg-1">Age</th>
            <th class="col-sm-1 col-md-1 col-lg-1">State</th>
            <th class="col-sm-3 col-md-3 col-lg-3" name="bstable-actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr class="row">
                <td class="col-sm-2 col-md-2 col-lg-2">{{ student.name }}</td>
                <td class="col-sm-2 col-md-2 col-lg-2">{{ student.birthday }}</td>
                <td class="col-sm-1 col-md-1 col-lg-1">{{ student.gender }}</td>
                <td class="col-sm-2 col-md-2 col-lg-2">{{ student.email }}</td>
                <td class="col-sm-1 col-md-1 col-lg-1">0</td>
                <td class="col-sm-1 col-md-1 col-lg-1">{{ student.state }}</td>
                <td class="col-sm-3 col-md-3 col-lg-3">
                    <a href="/edit/{{ student.id }}"><span class="btn btn-success">Edit</span></a>
                    <a href="/delete/{{ student.id }}"><span class="btn btn-danger">Delete</span></a>
                </td>

            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}